* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('fruits.png'); /* Path to your fruits image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

header {
    background-color: rgba(245, 240, 240, 0.8);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 32px;
    color: #2f7d7b;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 30px; /* Increase this value to add more space between items */
}

nav ul li:last-child {
    margin-right: 0; /* Prevents margin on the last item */
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 100vh;
}

.left-section {
    width: 40%;
    text-align: center;
}

.left-section img {
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto 20px auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-box {
    background-color: #8daaa5;
    color: white;
    font-size: 42px;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.button-box:hover {
    background-color: #6d8986;
}

.right-section {
    width: 70%;
    text-align: center;
}
